@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.my-container {
  padding: 2rem 7rem;
}

.header-text {
  font-size: 1rem;
}

.header-text .navbar {
  font-size: 0.9rem;
}

.small-zoom {
  transition: 0.3s;
}

.small-zoom:hover:not {
  transform: scale(1);
}

.small-zoom:hover {
  transform: scale(1.05);
}

.little-zoom {
  transition: 0.3s;
}

.little-zoom:hover:not {
  transform: scale(1);
}

.little-zoom:hover {
  transform: scale(1.15);
}

.medium-zoom {
  transition: 0.3s;
}

.medium-zoom:hover:not {
  transform: scale(1);
}

.medium-zoom:hover {
  transform: scale(1.175);
}

.header {
  margin-bottom: 5rem;
}

.profil {
  border-radius: 10px 10px 10px 100px;
}

.logo-text-btn {
  background-color: #104D87;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 3px 10px rgba(59, 158, 255, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.logo-text-btn:hover {
  background-color: white;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
  transition: background-color 0.5s, box-shadow 0.5s;
}

.logo-text-btn:hover p {
  color: #104D87;
  transition: color 0.5s;
}
